<nav class="titre"><h1>Produits</h1></nav>

<div>
    <div class="tri">
        <input class="recherche" 
            [(ngModel)]="searchValue" name="search" 
            placeholder="Rechercher un produit" />
        
        <label class="tri-prix">Trier par prix : 
            <select name="tri">
                <option (click)="croissant()" value="croissant" selected>Croissant</option>
                <option (click)="decroissant()" value="decroissant">Decroissant</option>
            </select>
        </label>

    </div>

    <div *ngIf="lastFiche"
        class="lastFiche">
        <a routerLink="/product/{{lastFiche.split(' ').join('_')}}">
            Dernière fiche consultée ➔
        </a>
    </div>

    <div class="products">
        <ul>
            <li *ngFor="let product of products | search: searchValue">
                <!-- split + join permet d'avoir un URl sans espace -->
                <a routerLink="/product/{{product.product_name.split(' ').join('_')}}">
                    <span></span>{{product.product_name}}
                </a>
            </li>
        </ul>
    </div>

</div>